<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
        
	<bean id="defaultJbpmConfiguration" class="org.jbpm.JbpmConfiguration" factory-method="getInstance" scope="singleton">
		<constructor-arg value="com/idega/jbpm/jbpm.cfg.xml" />
	</bean>
	<bean id="jbpmProcessBusiness" class="com.idega.jbpm.business.JbpmProcessBusinessBean" scope="singleton">
        <property name="idegaJbpmContext" ref="idegaJbpmContext" />
	</bean>
	
	<!--  
	<bean id="BPMRoleIdentityMgmnt" class="com.idega.jbpm.presentation.beans.Remove_IdentityMgmntBean" scope="request" />
	-->
	
	<bean id="processMgmtMockup" class="com.idega.jbpm.presentation.beans.ProcessMgmtMockupBean" scope="session">
        <property name="idegaJbpmContext" ref="idegaJbpmContext" />
	</bean>
    
    <bean id="idegaJbpmContext" class="com.idega.jbpm.IdegaJbpmContext">
        <property name="jbpmConfiguration" ref="defaultJbpmConfiguration" />
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <bean id="bpmRolesAssiger" class="com.idega.jbpm.identity.RolesAssiger" scope="singleton" />
    
    <bean id="bpmIdentityAuthorizationAspect" class="com.idega.jbpm.identity.authorization.IdentityAuthorizationAspect" scope="singleton" >
        <property name="idegaJbpmContext" ref="idegaJbpmContext" />
    </bean>
    <bean id="bpmPointcuts" class="com.idega.jbpm.business.BPMPointcuts" scope="singleton" />
    
    <bean id="bpmProcessDefinitionsAutoloader" class="com.idega.jbpm.process.business.autoloader.ProcessDefinitionsAutoloader" scope="singleton">
        <property name="mappings">
	        <list>
	            <value>classpath*:com/idega/**/pdm*.xml</value>
	            <value>classpath*:is/idega/**/pdm*.xml</value>
	        </list>
        </property>
        <property name="resourcePatternResolver">
            <bean class="org.springframework.core.io.support.PathMatchingResourcePatternResolver" />
        </property>
        <lookup-method name="createAutoDeployable" bean="BPMAutoDeployable" />
    </bean>
    
    <bean id="bpmUserFactory" class="com.idega.jbpm.identity.BPMUserFactoryImpl" scope="singleton">
        <lookup-method name="createUser" bean="BPMUser" />
    </bean>
</beans>