<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <filter>
    <filter-name>JbpmContextFilter</filter-name>
    <filter-class>org.jbpm.web.JbpmContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JbpmContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
<!-- jBPM DeployServlet -->
  <servlet>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <servlet-class>
      org.jbpm.webapp.servlet.ProcessUploadServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <!-- URL used by GPD -->
    <!-- GPD expects just a piece of text as a reply -->
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProcessUploadServlet</servlet-name>
    <url-pattern>/uploadDefinition</url-pattern>
  </servlet-mapping>
  

 
</web-app>